/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* Fonts */
body {
  font-family: 'Karla'; }

h1 {
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  font-size: 2em;
  line-height: 2.5; }

h2 {
  font-size: 1.3em;
  margin-bottom: 10px; }

p {
  line-height: 1.5;
  font-size: 1.2em; }

/* layout */
.wrapper {
  max-width: 700px;
  margin: 0 auto; }

.reason {
  margin: 20px 0 70px;
  text-align: justify; }
  .reason img {
    display: block;
    margin: 0 auto;
    width: 300px;
    height: 300px;
    float: left;
    padding-right: 20px; }

footer {
  text-align: center;
  height: 200px;
  background-color: #3A3A3A; }
  footer p {
    color: #F7E8EB;
    margin-top: 20px; }
  footer i {
    color: #F7E8EB;
    margin: 0 12px; }

.icons {
  padding-top: 50px; }

body {
  background-color: red; }
